body {
  background: linear-gradient(
    to bottom,
    #f9f9f9,
    #ffffff
  ); /* Light gradient from off-white to white */
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#body-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center content */
  align-items: center; /* Horizontally center content */
  height: 100vh; /* Adjusted to viewport height */
}

.navbar {
  background-image: linear-gradient(to bottom, #808080, #000000);
  color: white; /* Text color */
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-text {
  margin-left: 10px; /* Add some space between the image and text */
}

.main-paragraph {
  margin-top: 150px;
  padding: 50px 200px 50px 200px;
  text-align: center;
  font-size: 25px;
  color: azure;
}

.button-container {
  display: flex;
  justify-content: space-evenly; /* Center buttons horizontally */
  margin-top: 50px;
}

.large-button {
  padding: 20px 60px; /* Adjusted padding for a more balanced appearance */
  font-size: 24px;
  min-width: 200px; /* Reduced font size for better readability */
  background-color: #637e81; /* Updated button background color */
  color: #fff; /* Button text color */
  border: none; /* Removed button border */
  border-radius: 8px; /* Added border radius for rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Added transition for smoother hover effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added box shadow for depth */
  position: relative;
}

.lock-icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.container {
  display: flex;
  justify-content: center;
}

.large-button:hover {
  background-color: #388e3c; /* Darker background color on hover */
  transform: translateY(-2px); /* Add slight upward lift on hover for depth */
}

.textarea-container {
  position: relative;
}
#sendButton {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
#plaintext {
  padding-right: 50px; /* Adjust padding to not overlap button */
}
/* Styles for cryptography.html end */

/*  */

#typewriter {
  overflow: hidden; /* Hide overflow text */
  border-right: 0.15em solid orange; /* Typing cursor */
  white-space: pre-line; /* Keep text on one line */
  animation: typing 3s steps(40, end); /* Typewriter animation */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
