<div id="buttonContainer" class="button-container container-fluid">
  {% for cryptography_type in cryptography_types %}
  <button
    id="{{ 'crypt-btn-' ~ cryptography_type['id']}}"
    data-id="{{ cryptography_type['id'] }}"
    data-type="{{ cryptography_type['crypt_type'] }}"
    class="large-button"
    onclick="crypt_button_click(this.getAttribute('data-id'), this.getAttribute('data-type'))"
  >
    {{ cryptography_type['display_name'] }}
  </button>
  {% endfor %}
</div>

<script>
  function crypt_button_click(cryptoTypeId, cryptoType) {
    const data = { info: cryptoTypeId };
    fetch("/internal/crypt_type_id", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data),
    })
      .then((response) => {
        if (response.ok) {
          // Redirect to a different URL upon success
          cryptoTypeLowerCase = cryptoType.toLowerCase();
          window.location.href = `{{ base_url }}/cryptography/${cryptoTypeLowerCase}`;
        } else {
          // Display failure message
          alert("Failed to process the request. Please try again.");
        }
      })
      .catch((error) => {
        console.error("Error:", error);
      });
  }
</script>
