<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signed up</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"
    />
    <script
      src="https://kit.fontawesome.com/6b11b2115c.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/vue@3.0.2"></script>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-brand">
        <a href="{{ base_url }}/dashboard" class="navbar-item p-5">
          <span class="icon-text is-size-5">
            <span class="icon">
              <i class="fa-solid fa-arrow-left"></i>
            </span>
            <span class="">Take me home</span>
          </span>
        </a>
      </div>
    </nav>
    <section class="section is-medium">
      <div class="container">
        <div class="block has-text-centered">
          <h2 class="title is-2">{{ crypt_type.get('display_name') }}</h2>
          <h2 class="subtitle is-4">brownies.</h2>
        </div>
        <div class="block">
          <div class="fixed-grid has-5-cols">
            <div class="grid">
              <div class="cell"></div>
              <div class="cell is-col-span-3">
                <div class="box form">
                  <div class="field">
                    <label class="label">Hash type</label>
                    <div class="control">
                      <div class="select is-medium">
                        <select id="enumSelector">
                          <option value="" selected>Select</option>
                          {% for type in crypt_type_enum %}
                          <option value="{{ type.get('enum_id') }}">
                            {{ type.get('enum_type') }}
                          </option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">Plaintext</label>
                    <div class="control">
                      <textarea
                        class="textarea is-medium"
                        id="plaintextArea"
                        placeholder="Enter plaintext."
                        disabled
                      ></textarea>
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">Ciphertext</label>
                    <div class="control">
                      <textarea
                        class="textarea is-medium"
                        id="ciphertextArea"
                        placeholder="Ciphertext."
                        readonly
                      ></textarea>
                    </div>
                  </div>
                  <div class="field">
                    <div class="control">
                      <button class="button is-dark is-medium" id="sendButton">
                        Hash me
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cell"></div>
              <div class="cell"></div>
              <div class="cell"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="{{url_for('static', filename = 'cryptography.js')}}"></script>
  </body>
</html>
