<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signed up</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"
    />
  </head>
  <body>
    <section class="hero is-white is-large">
      <div class="hero-body">
        <div class="block">
          <p class="title is-spaced">You're in!</p>
          <p class="subtitle">
            This is your master key. Keep it safe. You might need it later.
          </p>
        </div>
        <div class="block">
          <div class="box">{{ master_key }}</div>
        </div>

        <div class="block">
          <a href="{{ base_url }}/dashboard"
            ><button class="button is-primary is-medium">Home</button></a
          >
        </div>
      </div>
    </section>
  </body>
</html>
